//COLORS
$color-primary: #20477a;
//$color-primary: #387ED1;
$color-secondary: #387ED1;
//$color-secondary: #20477a;
$color-accent: #3cba3c;
$light-grey: #eee;
$light-black: #2B2B2B;
$black: #222222;
$treeView-active: #e6eced;
$information: #e6f4fa;
$success: #e6fae7;
$warning: #f5e5d5;
$error: #ffc9c9;
$code-background: #F7F7F7;
$code-keyword: blue;
$code-string: darkred;
$code-comment: purple;
$code-tag: darkgreen;
$code-attribute: darkblue;

//PADDING & MARGIN
$homepage-dividing-width: 50%;
$aside-width: 50%;
$large-width: 55%;
$thin-width: 50%;
$content-padding: 40px;
$border-thickness: 1px;
$media-width: 80%;
$media-height: 45%;
$breadcrumb-margin: 20px;
$short-hover-duration: 200ms;
$long-hover-duration: 400ms;
$preview-pic-container-width: 30%;
$preview-pic-width: 70%;
$preview-pic-height: 80%;

$paddings:(large: 20px, medium: 10px, small: 5px);
$margins:(large: 40px, medium: 30px, small: 20px);
$title-size: 3rem 2.4rem  2.2rem 1.8rem 1.2rem 1.1rem;
